* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    padding: 0px 50px;
    background: linear-gradient(800deg, #3a1624, #711613);
    z-index: 1000;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logoimg {
    height: 115px;
    width: 120px;
}

img {
    margin-top: 5px;
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.menu-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 50px;
    height: auto;
}

.menu-btn:hover {
    transition: .2s linear;
    background: white;
    height: 55px;
    width: 60px;
    border-radius: 8px;
}

.blog-title:before,
.blog-title:after {
    background-color: #adabab;
    content: "";
    display: inline-block;
    height: 4px;
    border-radius: 15px;
    vertical-align: middle;
    border: 0.5px solid #acaaaa;
    width: 50%;
}

.blog-title:before {
    right: .5em;
    margin-left: -50%;
}

.blog-title:after {
    left: .5em;
    margin-right: -50%;
}

h1 {
    margin-top: 5vh;
    padding: 0 5%;
    color: #6e6e6e;
    /**border-bottom: 4px solid #adabab;**/
    border-radius: 2px;
    animation: anima 700ms ease;

}

.divPedido {
    animation: anima2 700ms ease;
    margin-top: 20px;
    box-shadow: 0px 5px 1em #3f0c0b;
    background: #94443c;
    border-radius: 5px;
    padding: 20px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.divPedido:nth-child(3) {
    margin-top: 10vh;
    width: 37vw;
}

.divPesquisar {
    text-align: center;
    margin-bottom: 10px;
}

#formPesquisar {
    margin-top: 7vh;
    animation: anima 700ms ease;
}

#inputPesquisar {

    background: #fdfdfd;
    width: 20vw;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #adabab;
    color: #adabab;
    font-weight: bold;
    font-size: 15px;
    cursor: text;
    text-indent: 1ch;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

::-webkit-calendar-picker-indicator {
    padding: 10px;
}

#inputBotao {
    color: #fdfdfd;
    background: #846c7c;
    width: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
    border: 2px solid #846c7c;
    cursor: pointer;
    border-left: none;
}

#inputBotao:hover {
    background: #755e6e;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #6e6e6e;

}

.al {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 1em;

}

.tabela {
    border: 3px solid #adabab;
    border-radius: 10px;
    overflow: hidden;
    height: 10vh;
    width: 55vw;
    background: #fafdff;
    cursor: default;
}

th {
    color: #383737;
    background-color: #adabab;
    padding: 10px;

}

td {
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #adabab;
}

tr:nth-child(even) {
    background: #e1e4e6;
}

.textoAtualizar {
    text-align: center;
}

.textoPedido {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #474646;
}

.SemP {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #fafdff;
    width: 65vh;
    height: 10vh;
    border-radius: 10px;
}

footer {
    color: #fafdff;
    align-items: center;
    margin-top: 35vh;
    width: 100%;
    height: 60px;
    display: flex;
    background: #444;
    padding: 0px 50px;

}

/*Keyframes para Animações*/
@keyframes anima {
    from {
        transform: scale(0.99);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes anima2 {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}