*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(90deg, #711613, #3a1624);
}

i{
    margin-left: -30px;
    cursor: pointer;
}

.titulo{
    text-align: center;    
    font-weight: bold;
    position: relative;
    color:whitesmoke;
    font-size: 50px;
    animation: fade 1s;
}
.bordaForm{

    border: 1px solid rgb(78, 77, 77);
    border-radius: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    background-color: white;
    animation: fade 1s;
}
.divlink {
    animation: fade 1s;
}
.divlink{
    text-decoration: none;
    font-size: 22px;
    color: whitesmoke;
    width: 100px;
}
.divlink:hover{
    background: white;
    border-radius: 6px;
    height: auto;
    color: #3a1624;
    transition: all .2s ease-in-out;
    position: relative;
}


form{
    margin-left: 10%;
    position: relative;
    top: 50px; 
    overflow: hidden;
}
form .input-block:nth-child(1){
     animation: move 500ms;
     animation-delay: 100ms;
     animation-fill-mode: backwards;

}
form .input-block:nth-child(3){
    animation: move 500ms;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
}
.divcadastro{
    text-align: center; 
    margin-right: 15%;
    margin-top: 8%;
    animation: move 500ms;
    animation-delay: 600ms;
    animation-fill-mode: backwards;
}
label{
    font-weight: bold;
    font-size: 1.5rem;
   
}
textarea{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 85%;
    border: none;
    border-bottom: 3px solid #323232;
    padding: 10px;
    font-size: .5rem;
}

input[type=text]{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 85%;
    border: none;
    border-bottom: 3px solid #323232;
    padding: 10px;
    font-size: .9rem;
}
input[type=number]{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 85%;
    border: none;
    border-bottom: 3px solid #323232;
    padding: 10px;
    font-size: .9rem;
}
input[type=password]{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 85%;
    border: none;
    border-bottom: 3px solid #323232;
    padding: 10px;
    font-size: .9rem;
}
select{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 33%;
    border: none;
    border-bottom: 3px solid #323232;
    padding: 10px;
    font-size: .9rem;
    text-align: justify;
}
input:focus{
    outline: none;
}

input[type=file]{
    background-color:rgb(251, 249, 249);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 85%;
    border: none;
    padding: 10px;
    font-size: .9rem;
    border-bottom: 3px solid #323232;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40px;
}

.bordaFunc{
    border: 1px solid rgb(78, 77, 77);
    border-radius: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    /*height: 750px;*/
    background-color: white;
    animation: fade 1s;
}

button{
    border: none;
}

/*Keyframes para Animações*/
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes move {
    from{
        opacity: 0;
        transform: translateX(-35%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes bot{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

