.nome{
    font-size: 30px;
    margin-top: 3px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.imagem{
    height: 200px;
    width: auto;
    vertical-align: top;
}

.preco{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 7ch;
    margin-bottom: 0px;
}

.divPrincipal{
    border: solid grey 3px;
    border-radius: 7px;
    text-align: justify;
    width: 95%; margin-left: auto;
    margin-right: auto;
}

.areaTexto{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.pretoBranco{
    filter:gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.divPendente{
    display: inline-block;
    border: solid grey 3px;
    border-radius: 7px;
    text-align: justify;
    width: 35%; 
    position: relative;
}

.divPronto{
    display: inline-block;
    border: solid grey 3px;
    border-radius: 7px;
    text-align: justify;
    width: 35%; 
    position: relative;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

table, td, th{
    border: solid black 1px;
    border-collapse: collapse;
}